@use '../abstracts';

main {
    margin: 2rem auto;
}

// TOP-SECTION = GRID CONTAINER - 2 COLUMN ON DESKTOP
// TOP-SECTION = LEFT + RIGHT SECTIONS
.top-section {
    display: grid;
    gap: 10vh;
    margin-bottom: 10vh;
    // DESKTOP LAYOUT
    @include abstracts.xlg {
        display: grid;
        grid-template-columns: 65% auto;
        margin-bottom: 15vh;
        gap: 5vw;
    }

    // LEFT SECTION = IMAGE + CONTENT[H2 + P + BUTTON]
    .left-section {
        display: grid;
        gap: 2rem;
        @include abstracts.sm {
            gap: 2rem;
        }

        img {
            height: 100%;
            max-height: 350px;
        }

        .left-content {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            @include abstracts.sm {
            grid-template-columns: auto auto;
            // border: 3px solid green;
            }
            .content-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                @include abstracts.xlg {
                    justify-content: space-between;
                    padding: 0 1rem;
                }

            }
            

            h2 {
                font-size: 2.5rem;
                font-size: clamp(2.5rem, 4vw, 3.5rem);
                font-weight: 800;
                line-height: 1;
            }
            
            p {
                color: abstracts.$blue-dark;
                @include abstracts.md {
                    font-size: 1rem;
                }
            }

            .btn {
                color: #fff;
                width: 12rem;
                height: 3rem;
                display: grid;
                place-content: center;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: .25rem;
                font-size: .85rem;
                padding: 1rem;
                transition: .25s;
                position: relative;
                isolation: isolate;
                // DESKTOP STYLE
                @include abstracts.sm {
                    cursor: pointer;
                }
                // PSEUDO BACKGROUND
                &::before, &:after {
                    content: '';
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    transition: .25s;
                    z-index: -1;
                }
                &::before {
                    background: abstracts.$brand-red;
                    box-shadow: 0 .5rem .5rem #0001;
                }
                &::after {
                    background: abstracts.$blue-darkest;
                    box-shadow: 0 .25rem .25rem #0002;
                    opacity: 0;
                }
                // HOVER CLASS
                &:hover {
                    &::before {opacity: 0;}
                    &::after {opacity: 1;}
                }
                // :ACTIVE CLASS
                &:active {
                    transform: scale(.98);
                    letter-spacing: .225rem;
                    
                }
                
            }

        }
    }

    // RIGHT-SECTION = CARD[H3 + CARD-ITEM]
    .right-section {

        .card {
            background: abstracts.$blue-darkest;
            color: #fff;
            padding: 1rem 1.5rem 1rem 1rem;
            

            h3 {
                color: abstracts.$brand-orange;
                font-size: 2rem;
                font-size: clamp(2rem, 2.8vw, 3rem);
            }

            .card-item {
                padding: 2rem 0;
                border-bottom: 1px solid #fff6;
                &:last-child {
                    border-bottom: none;
                }
                @include abstracts.sm {
                    cursor: pointer;
                }

                h4 {
                    font-size: 1.25rem;
                    margin-bottom: .5rem;
                    transition: .125s;
                }
                p {
                    font-weight: 400;
                    color: abstracts.$blue-light;
                }

                &:hover {
                    h4 {
                        color: abstracts.$brand-orange;
                    }
                }
            }

        }


    }
}

// BOTTOM SECTION = GRID CONTAINER - 3 COLUMN ON DESKTOP
.bottom-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    @include abstracts.xlg {
        grid-template-columns: 1fr 1fr 1fr;
    }

    // GRID ITEMS = IMAGE + ITEM-CONTENT
    .bottom-item {
        display: flex;
        gap: 1.5rem;
        @include abstracts.xlg {
            gap: 1rem;
        }
    
        img {
            width: 6rem;
            object-fit: cover;
            @include abstracts.xlg {
                width: 33%;
            }
        }
    
        .item-content {
            cursor: pointer;
            @include abstracts.xsm {
                cursor: default;
            }
            h3 {
                font-size: 2rem;
                font-weight: 800;
                letter-spacing: .025rem;
                color: abstracts.$blue-light;
                margin-bottom: .5rem;
            }
    
            h4 {
                font-size: 1.125rem;
                margin-bottom: 1rem;
                transition: .125s;
            }
            
            p {
                color: abstracts.$blue-dark;
                line-height: 1.8;
            }
        }
    
        &:hover {
    
            .item-content {
                h3 {
                    animation: .5s click ease-out;
                    @keyframes click {
                        50% {
                            opacity: .8;
                            letter-spacing: .25rem;
                        }
                    }
                }
                h4 {
                    color: abstracts.$brand-red;
                }
            }
        }
    
        
    }
}