@use '../abstracts';

html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(10vh + 1rem);
    // font-family: 'content', sans-serif;
}

body {
    background: abstracts.$main-bg;
    color: abstracts.$main-text;
    font-size: 15px;
}

p {
    line-height: 1.8;
    text-wrap: pretty;
}

a {
    text-decoration: none;
    color: abstracts.$main-text;
    &:hover {
        color: abstracts.$brand-orange;
    }
}

.container {
    max-width: 100%;
    padding: 5vh 5vw;
    position: relative;
    @include abstracts.xlg {
        padding: 10vh 10vw;
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        background: #0006;
        transition: .125s;
        z-index: 1;
        display: none;
    }

    &.active {
        &::after {
            display: block;
        }
    }
}

.attribution {
    padding: 1rem;
    font-size: .85rem;
    text-align: center;
    line-height: 1.6;
    background: abstracts.$blue-darkest;
    color: abstracts.$blue-light;

    a {
        color: #fafafa;
    }
}



