@use '../abstracts';

html {
    scroll-behavior: smooth;
}

body {
    background: abstracts.$main-bg;
    color: abstracts.$main-text;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: abstracts.$main-text;
    &:hover {
        color: abstracts.$brand-orange;
    }
}

.container {
    max-width: 100%;
    min-height: 100vh;
    padding: 5vh 5vw;
    position: relative;
    @include abstracts.xlg {
        padding: 10vh 10vw;
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        // left: -105vw;
        // opacity: 1;
        background: #0006;
        transition: .125s;
        z-index: 1;
        display: none;
    }

    &.active {
        &::after {
            display: block;
        }
    }
}

main {
    margin: 5vh auto;
}

.top-section {
    // outline: 4px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10vh;
    margin-bottom: 10vh;
    // DESKTOP
    @include abstracts.xlg {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        margin-bottom: 15vh;

    }

    .left-section {
        // border: 2px solid blue;
        display: grid;
        gap: 1rem;

        img {
            height: 100%;
        }

        .left-content {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .flex-container {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

            }
            @include abstracts.xlg {
                // border: 1px solid red;
                flex-direction: row;
                justify-content: space-between;
                align-items: start;
                gap: 3rem;

                .flex-container {
                    flex-direction: column;
                    justify-content: space-between;
                    // flex-basis: 70%;
                    border: 1px solid red;
                    // padding-left: 3rem;
                    height: 100%;
                }
            }

            h2 {
                font-size: 3.5rem;
                font-weight: 800;
                line-height: 1;
            }
            
            p {
                color: abstracts.$blue-dark;
            }

            .btn {
                color: #fff;
                width: 12rem;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: .25rem;
                font-size: .85rem;
                padding: 1rem;
                transition: .25s;
                position: relative;
                isolation: isolate;
                &::before, &:after {
                    content: '';
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    transition: .25s;
                    z-index: -1;
                }
                &::before {
                    background: abstracts.$brand-red;
                    box-shadow: 0 .5rem .5rem #0001;
                }
                &::after {
                    background: abstracts.$blue-darkest;
                    box-shadow: 0 .25rem .25rem #0002;
                    opacity: 0;
                }
                @media (max-width: 768px) {
                    cursor: default;
                    &:active {
                        transform: scale(.98);
                        letter-spacing: .225rem;
                        &::before {opacity: 0;}
                        &::after {opacity: 1;}
                    }
                }
                @media (min-width: 768.1px) {
                    cursor: pointer;
                    &:hover {
                        transform: scale(.98);
                        &::before {opacity: 0;}
                        &::after {opacity: 1;}
                    }
                }
            }

        }
    }

    .right-section {
        // border: 2px solid purple;

        @include abstracts.xlg {
            width: 80%;
        }

        .card {
            background: abstracts.$blue-darkest;
            color: #fff;
            padding: 1rem;
            height: 100%;

            h3 {
                color: abstracts.$brand-orange;
                font-size: 2rem;
            }

            .card-item {
                padding: 2rem .5rem 2rem 0;
                border-bottom: 1px solid #fff6;
                cursor: pointer;
                &:last-child {
                    border-bottom: none;
                }

                h4 {
                    font-size: 1.25rem;
                    margin-bottom: .5rem;
                    transition: .125s;
                }
                p {
                    font-weight: 400;
                }

                &:hover {
                    h4 {
                        color: abstracts.$brand-orange;
                    }
                }
            }

        }


    }
}

.bottom-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    @include abstracts.xlg {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.bottom-item {
    display: flex;
    gap: 1rem;

    img {
        width: 6rem;
        object-fit: cover;
        @include abstracts.xlg {
            width: 30%;
        }
    }

    .item-content {
        cursor: pointer;
        
        h3 {
            font-size: 2rem;
            font-weight: 800;
            letter-spacing: .025rem;
            color: abstracts.$blue-light;
            margin-bottom: .5rem;
        }

        h4 {
            font-size: 1.125rem;
            margin-bottom: 1rem;
            transition: .125s;
        }
        
        p {
            padding-right: .5rem;
            color: abstracts.$blue-dark;
        }
    }

    &:hover {
        .item-content {
            h4 {
                color: abstracts.$brand-red;
            }
        }
    }

    
}