@use '../abstracts';

header {
    background: abstracts.$main-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 6vh;
    padding: 1rem 5vw;
    width: 100%;
    @include abstracts.md {
        padding: 0;
        // border: 2px solid red;
        position: sticky;
        top: 0;
    }
    .logo {
        img {
            width: 2.5rem;
        }
    }

    nav {
        // MOBILE NAVBAR
        @media (max-width: 768px){
            position: absolute;
            background: #fff;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100vh;
            transition: .5s;
            
            ul {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                position: relative;
                top: 15vh;
                left: 5vw;
                list-style: none;
                li {
                    font-size: 1.125rem;
                }
            }
            &.active {
                right: -30vw;
            }

        }

        // DESKTOP NAVBAR
        @include abstracts.md {
            position: relative;
            right: 0;
            // border: 2px solid red;
            ul {
                display: flex;
                flex-direction: row;
                gap: 2rem;
                list-style: none;
    
            }
        }
    }

    .toggle {
        z-index: 5;
        @include abstracts.md {
            display: none;
        }
        // border: 3px solid blue;
        position: relative;
        width: 2rem;
        height: 2rem;
        img {
            position: absolute;
            inset: 0;
            top: .25rem;
            // width: 100%;
            height: 80%;
            transition: .25s;
            &.close {
                opacity: 0;
            }
        }
        
        &.active {
            img {
                &.open {
                    opacity: 0;
                }
                &.close {
                    opacity: 1;
                }
            }
        }
    }
    
}